.project{
    padding-block: 40px;
}
.project-description{
   display: flex;
    flex-direction: column;
    gap: 16px;


}
.project-image{
    text-align: center;
}

.project-image img{
    max-inline-size: 100%;
    max-block-size: auto;
}


.project-title{
    background:var(--purple);
    text-decoration: none;
    color: white;
    align-self: flex-start;
    font: var(--headLines5);
    padding-block: 4px;
    padding-inline: 8px;
    box-shadow: -4px 4px 0px #FFFFFF;

}

@media screen and (min-width:768px) {
    .project{
        display: flex;
        align-items: center;
        padding-block: 80px;
        gap: 32px;
    }
    .project-description{
        flex: 1;
    }
   .project:nth-child(odd) .project-image{
       order: 2;
       flex: 1;
       text-align: center;
   }
}